@import components/bootstrap.min.css
@import components/mixin
html
    font-size: 1px
body 
    margin: 0 auto
    background-color: #f5f8fa
    font-family: "Rubik"
.wrapper
    margin: 0 auto
    width: 90%
.white 
    +btn("white") 
.orange 
    +btn("orange")

hr
    margin-top: 70rem
    margin-bottom: 70rem
li
    list-style: none


@import components/header
@import components/main
@import components/footer
